img {
    
        width: 150px;
        height: 150px;
        border-radius: 550%;
        margin-top: 20px;
  
    
}
body {
    background-color:rgb(248, 178, 248);
  }
  p{
    
        color:#28127a;
    
  }
  h1{
    color:#7a1260;
    



  }
    
